.header-img {
  width: 100%;
  height: 50vh;
  background: url('https://images.pexels.com/photos/60626/pexels-photo-60626.jpeg?cs=srgb&dl=pexels-fabtruji-60626.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
